body {
    background-color: rgb(245, 175, 118);
    margin: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
}

header, main, footer {
    min-width: fit-content;
}

header {
    background-color: rgb(91, 96, 99);
    margin: 1rem, auto;
}

header a {
    display: inline-block;
    color: white;
    padding: 1rem;
    text-decoration: none;
}

header a:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

main {
    flex-grow: 1;
}

.container {
    background-color: rgba(255, 255, 255, 0.5);
    max-width: 1200px;
    min-width: 480px;
    margin: 1rem, auto;
}

h1, h2, h3, p {
    padding: 0.5rem 1rem;
    margin: 0.5rem 05rem;
}

h1, h2, h3 {
    background-color: #fff;
    border-bottom: 3px solid #236;
}

footer {
    display: flex;
    align-content: stretch;
}

.genre_filter {
    float: right;
    background-color: #aaa;
}

ul {
    list-style: none;
    padding: 0;
}

ul li a {
    color: #236;
    padding: 0;
}

ul li {
    padding: 0.2rem 1rem;
}

ul li:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.genre_filter .current {
    background-color: aliceblue;
}

.paginator {
    margin: 1rem
}

.paginator a, .paginator span{
    display: inline-block;
    padding: 0.3rem;
    margin: 0.2rem;
    border: 1px solid #ccc;
    border-radius: 1rem;

}
.paginator span {
    background-color: aqua;
    color: black;
}

.paginator a {
    background-color: bisque;
}

.paginator form{
    display: inline-block;
}

ul.book_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

ul.book_list li.book {
    flex-basis: 15rem;
    border: 1px, solid #999;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 0;
}

ul li.book li.book img {
    max-width: 100%;
}

ul.book_list li.book h3 {
    margin-top: 0;
}

