{% extends 'library/base.html' %}
{% block title %}Password reset confirmation {% endblock title %}
{% block content %}
<h1>Password reset confirmation</h1>
{% if validlink %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_table }}
        <p><button type="submit">Reset Password</button></p>
    </form>
{% else %}
    <p class="form-error">error: bab link. Please request <a href="{% url 'password_reset' %}"> password reset again></a>.</p>
{% endif %}
{% endblock content %}